/* DEBUG */
/* * {
    background-color: black !important;
    color: black !important;
    border: 2px solid red !important;
} */
body {
  background-color: #f8fae5;
}
#hero-container {
  border: 2px solid #43766c;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)),
    url("img/Mylos\ world.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px rgba(25, 133, 97, 0.7);
}

.navbar {
  background-color: #43766c;
}
.navbar li {
  display: inline-block;
  padding: 20px;
}
a {
  color: #f8fae5;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: #c7a97f;
}
a:active {
  color: #ad9c9a;
}

h1 {
  font-size: 70px;
  letter-spacing: 2px;
  font-family: "Henny Penny", serif;
  color: #c7a97f;
  text-align: center;
  padding-top: 250px;
  transition-duration: 1s;
}
h1:first-letter {
  font-size: 90px;
  color: #2ca48c;
}
h1:hover {
  transform: scale(1.5);
}
h5 {
  color: #f8fae5;
  font-size: 20px;
  padding-left: 20px;
}
h2 {
  font-size: 40px;
}
h2:first-letter {
  color: #2ca48c;
}
h3 {
  font-family: "Slackey", serif;
  font-size: 26px;
  font-style: normal;
}
h3:first-letter {
  color: #2ca48c;
}
.about {
  font-family: "Slackey", serif;
  font-weight: 50px;
  font-style: normal;
}
p {
  font-family: "Atma", serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}
.container {
  overflow: hidden; /* Ensures the container clears the float */
}

.side-image {
  float: left; /* Float the image to the left */
  margin-right: 15px; /* Space between the image and the text */
  width: 200px; /* Set the image width */
  height: auto; /* Maintain aspect ratio */
}
